--extra-index-url https://download.pytorch.org/whl/cu124
torch
torchvision
torchaudio
torchattacks==3.5.1
grad-cam
numpy
scipy
pandas
matplotlib
seaborn
scikit-learn
tqdm
tensorboard
Pillow
openpyxl
PyYAML
ftfy
regex
timm>=0.9.0
grad-cam>=1.4.0
bagnets @ git+https://github.com/wielandbrendel/bag-of-local-features-models.git
cornet @ git+https://github.com/dicarlolab/CORnet.git
clip @ git+https://github.com/openai/CLIP.git
